body{
    background-color: bisque;
}
#title{
    text-align: center;
}
*{
    margin: 0;
    border: 0;
}
img{
height: 276px;
width: 276px;
margin-top: 0px;
padding-left: 338px;
}
#birth{
text-align: center;
}
