body{
    background-color: bisque;
    padding-left: 5;
}
*{
    margin: 0;
    border: 0;
}
#title{
    text-align: left;
}
img{
height: 276px;
width: 276px;
text-align: center;
display: block;
}
#birth{
text-align: left;
}
